{% extends 'base.html' %}
{% block title %}view-book{% endblock%}
{%block nav1%}<a class="nav-item nav-link" id = "home" name = "home" href="/">Home</a>{%endblock%}
{% block content %}
<table class="table my-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Publcation Year</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% if books %}
    {% for book in books %}
      <tr>
        <th scope="row">{{book.id}}</th>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.publication_year.date()}}</td>
        <td>{{book.category}}</td>
        <td>{{book.status}}</td>
        <td><form action = "/Update-Book" method = "POST"><button type = "submit" id = "bookid" name = "bookid" value = "{{book.id}}" class = "btn btn-outline-primary">Update</button></form></td>
        <td>
            <button type="button" class="btn btn-outline-danger align-content-end" onclick = "deleteBook({{book.id}})"><span aria-hidden = "true">&times;</span></button></td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
{% endblock  %}